@mixin label-and-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8px;

  span {
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--color-grey);
    margin-right: 8px;
    line-height: 1.8;
    min-width: 100px;
  }
}

%collapse-title {
  font-family: var(--font-secondary);
  font-weight: bold;
}

%collapse-subtitle {
  font-size: 0.9rem;
  color: var(--color-grey);
  margin-top: 4px;
}
