@mixin section-header {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  margin-bottom: 16px;
}

@mixin card-with-shadow($bgColor: #fff) {
  background-color: $bgColor;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.125);
  border-radius: var(--border-r-m);
}

@mixin add-new-button($bgColor: var(--color-success), $textColor: var(--color-white)) {
  @include card-with-shadow($bgColor);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  text-decoration: none;
  color: $textColor;
  text-transform: uppercase;
  font-size: 0.9rem;
  svg {
    margin-right: 8px;
  }
}
